.wrapper{
    width: 100vw;
    height: 100vh;
    padding: 3rem 20rem 0 20rem;
}

.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bodyWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 3rem;
}

.resumeButton{
    background-color: #F9A826;
    padding: 0rem 1rem;
    border-radius: .5rem;
    transition: all .3s;
    border: 0.1rem solid transparent;
    width: 6rem;
}

.resumeButton:hover{
    background-color: transparent;
    padding: .2rem 1rem;
    cursor: pointer;
    color: #28282B;
    border: 0.1rem solid #F9A826;
}

.resumeButton:hover p{
    color: #28282B;
}

.resumeButton p{
    text-transform: capitalize;
    line-height: 0%;
    color: #FDFBF9;
    transition: all .3s;
}

@media (max-width: 1500px) {
    .wrapper{
        padding: 5rem 10rem 0 10rem;
    }
}

@media (max-width: 1200px) {
    .wrapper{
        padding: 3rem 6rem 0 6rem;
    }
}

@media (max-width: 800px) {
    .wrapper{
        padding: 2rem 3rem 0 3rem;
    }
    .headerWrapper{
        display: block;
    }
    .resumeButton p{
        text-align: center;
    }
}