.wrapper{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
}

.mobileLink{
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    justify-self: center;
    text-transform: capitalize;
}

@media (max-width: 800px) {
    .wrapper {
        display: block;width: 100vw;
        padding: 2rem;
    }
}

